In [1]:
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt

# df1

In [2]:
df1 = pd.read_excel('EXP2022-01_STATSTD.xlsx' , sheet_name=0)

In [3]:
df1[df1.STATUSTEXT == 'มารายงานตัวแล้ว'].index
df1.drop(index=df1[df1.STATUSTEXT == 'มารายงานตัวแล้ว'].index.tolist(), inplace=True)

In [4]:
df1.drop([ 'PROGRAMID' , 'STUDENTSTATUS', 'SCHOOLNAME','GRADUATEYEAR' ] , axis=1, inplace=True)

In [5]:
df1.replace('-', np.nan, inplace=True)

In [6]:
df1['PROGRAMNAME'].value_counts().index

Index(['สารสนเทศสถิติ', 'สถิติ',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสารสนเทศสถิติและวิทยาการข้อมูล',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสถิติศาสตร์'],
      dtype='object')

In [7]:
df1['STATUSTEXT'].value_counts().index

Index(['นักศึกษาปัจจุบัน สถานะปกติ', 'สำเร็จการศึกษา', 'พ้นสภาพเนื่องจากลาออก',
       'พ้นสภาพเนื่องจากไม่ชำระค่าต่อทะเบียนนักศึกษา', 'พ้นสภาพเนื่องจากตกออก',
       'พ้นสภาพเนื่องจากไม่ลงทะเบียนตามเวลากำหนด', 'ลาพักการเรียน'],
      dtype='object')

In [8]:
#df1 =df1[df1['ADMITACADYEAR'] != 2564]
#df1.to_csv(r'datavisul.csv',encoding='utf-8-sig')
df1.shape

(718, 15)

In [9]:
df1.STATUSTEXT.replace({'นักศึกษาปัจจุบัน สถานะปกติ' : 0, 'สำเร็จการศึกษา' :0,
                       'พ้นสภาพเนื่องจากลาออก':1,
      'พ้นสภาพเนื่องจากไม่ชำระค่าต่อทะเบียนนักศึกษา':1, 'พ้นสภาพเนื่องจากตกออก':1,
    'พ้นสภาพเนื่องจากไม่ลงทะเบียนตามเวลากำหนด':1, 'ลาพักการเรียน':0}, inplace=True)

df1.STUDENTSEX.replace({'หญิง':0, 'ชาย':1}, inplace=True)

In [10]:

df1['PROGRAMNAME'] = df1['PROGRAMNAME'].astype( CategoricalDtype([ 'สารสนเทศสถิติ', 'สถิติ',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสารสนเทศสถิติและวิทยาการข้อมูล',
       'สถิติและวิทยาการข้อมูล สาขาวิชาเอกสถิติศาสตร์' ], ordered=True))

df1['Type_Exam'] = df1['Type_Exam'].astype( CategoricalDtype([ 'สอบคัดเลือกจากระบบกลาง(Admissions)',
       'สอบคัดเลือกประเภทโควตาภาคตะวันออกเฉียงเหนือ', 'โควตาทั่วประเทศ',
       'โครงการรับนักเรียนที่เป็นผู้มีคุณธรรม จริยธรรม และบริการสังคม',
       'โครงการร่วมรับนักศึกษาภาคใต้กับมหาวิทยาลัยสงขลานครินทร์ โดยวิธีรับตรง',
       'การคัดเลือกโดยวิธีพิเศษ',
       'โครงการร่วมรับนักศึกษาภาคเหนือกับมหาวิทยาลัยเชียงใหม่ โดยวิธีรับตรง',
       'โครงการมูลนิธิส่งเสริมโอลิมปิกวิชาการฯ (สอวน.)' ], ordered=True))

df1['STATUSOFTHFATHER'] = df1['STATUSOFTHFATHER'].astype( CategoricalDtype([ 'อยู่ด้วยกัน', 'หย่าขาดจากกัน', 'บิดาถึงแก่กรรม',
       'แยกกันอยู่เพราะเหตุผลอื่นๆ', 'แยกกันอยู่เพราะความจำเป็นเกี่ยวกับอาชีพ',
       'มารดาถึงแก่กรรม', 'บิดามารดาถึงแก่กรรม' ], ordered=True))

In [11]:
df1['PROGRAMNAME']=df1.PROGRAMNAME.cat.codes
df1['Type_Exam']=df1['Type_Exam'].cat.codes
df1['STATUSOFTHFATHER']=df1.STATUSOFTHFATHER.cat.codes

In [12]:
df1.head()

,HSID,PROGRAMNAME,ADMITACADYEAR,STATUSTEXT,GPA,ENTRYGPA,Type_Exam,STUDENTSEX,STATUSOFTHFATHER,FATHERINCOME,YEARFATHER,MOTHERINCOME,YEARMOTHER,บุตรคนที่,จำนวนพี่น้อง
0,10B25D084BD9221E9DD46E0FEBC078F2,1,2558,1,1.21,3.26,1,0,0,100000,44,100000,45,1.0,4
1,52A85071146F727402AF928F6A000913,1,2558,1,2.74,3.65,1,0,0,20000,59,15000,54,1.0,2
2,4841685FB7535D94D69C041D01236E33,1,2558,0,2.60,3.38,1,0,0,10000,43,9000,37,1.0,2
3,D9F4ADF1492A801669E02957367B4800,1,2558,0,2.44,3.82,1,0,0,30000,49,30000,48,3.0,3
4,2A5133DDDC8B468E22C6623C39FEB299,1,2558,0,2.29,3.16,1,0,0,53080,59,47660,54,3.0,3

In [13]:
df1['YEARFATHER'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['FATHERINCOME'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['MOTHERINCOME'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['YEARMOTHER'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['บุตรคนที่'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)
df1['จำนวนพี่น้อง'].replace(regex=True,inplace=True,to_replace=r'\D',value= np.nan)

In [14]:
imputer = KNNImputer(n_neighbors=2, weights="uniform")
df1[['FATHERINCOME', 'YEARFATHER', 'MOTHERINCOME', 'YEARMOTHER']] = imputer.fit_transform(df1[['FATHERINCOME', 'YEARFATHER', 'MOTHERINCOME', 'YEARMOTHER']])

In [15]:
df1.dropna(inplace=True)

In [16]:
df1.head()

,HSID,PROGRAMNAME,ADMITACADYEAR,STATUSTEXT,GPA,ENTRYGPA,Type_Exam,STUDENTSEX,STATUSOFTHFATHER,FATHERINCOME,YEARFATHER,MOTHERINCOME,YEARMOTHER,บุตรคนที่,จำนวนพี่น้อง
0,10B25D084BD9221E9DD46E0FEBC078F2,1,2558,1,1.21,3.26,1,0,0,100000.0,44.0,100000.0,45.0,1.0,4
1,52A85071146F727402AF928F6A000913,1,2558,1,2.74,3.65,1,0,0,20000.0,59.0,15000.0,54.0,1.0,2
2,4841685FB7535D94D69C041D01236E33,1,2558,0,2.60,3.38,1,0,0,10000.0,43.0,9000.0,37.0,1.0,2
3,D9F4ADF1492A801669E02957367B4800,1,2558,0,2.44,3.82,1,0,0,30000.0,49.0,30000.0,48.0,3.0,3
4,2A5133DDDC8B468E22C6623C39FEB299,1,2558,0,2.29,3.16,1,0,0,53080.0,59.0,47660.0,54.0,3.0,3

# df2

In [17]:
df2 = pd.read_excel('EXP2022-01_STATSTD.xlsx' , sheet_name=1)

In [18]:
df2.dropna(inplace=True)

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24491 entries, 0 to 26631
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HSID           24491 non-null  object
 1   COURSECODE     24491 non-null  object
 2   COURSENAMEENG  24491 non-null  object
 3   GRADE          24491 non-null  object
dtypes: object(4)
memory usage: 956.7+ KB

In [20]:
df2.head()

,HSID,COURSECODE,COURSENAMEENG,GRADE
0,10B25D084BD9221E9DD46E0FEBC078F2,311112,BIOLOGY FOR PHYSICAL SCIENCE LABORATORY,D
1,10B25D084BD9221E9DD46E0FEBC078F2,311111,BIOLOGY FOR PHYSICAL SCIENCE,D+
2,10B25D084BD9221E9DD46E0FEBC078F2,315106,ELEMENTARY PHYSICS,D+
3,10B25D084BD9221E9DD46E0FEBC078F2,322161,INTRODUCTION TO INFORMATION AND COMMUNICATION TECHNOLOGY,D+
4,10B25D084BD9221E9DD46E0FEBC078F2,312108,FUNDAMENTAL CHEMISTRY,F

In [21]:
df2.GRADE.value_counts().index

Index(['A', 'B', 'B+', 'C+', 'C', 'D+', 'D', 'F', 'S', 'W', 'S AU', 'U'], dtype='object')

In [22]:
df2['COURSE_GRADE'] = df2.COURSENAMEENG + '_' +df2.GRADE
dummy_df = pd.get_dummies(df2,columns = ['COURSE_GRADE'])
dummy_df.drop(['COURSECODE', 'COURSENAMEENG'],1,inplace=True)
dummy_df.dropna(inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data_final = dummy_df.groupby('HSID').sum().reset_index()

In [24]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Columns: 1085 entries, HSID to COURSE_GRADE_WORLD CIVILIZATION_B+
dtypes: object(1), uint8(1084)
memory usage: 745.5+ KB

In [25]:
df_selec_F = pd.DataFrame(data_final.columns.str.split('_').tolist(),
                                 columns = ['a', 'b', 'c','d'])

df_selec_F = df_selec_F[df_selec_F['d'] == 'F']

df_selec_F['E'] = df_selec_F['a']+ '_'+df_selec_F['b']+'_'+df_selec_F['c']+'_'+df_selec_F['d']
len(df_selec_F.E.values)

105

In [26]:
data_final = pd.concat((data_final['HSID'] , data_final[df_selec_F.E.values]) , 1)
data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Columns: 106 entries, HSID to COURSE_GRADE_Statistical Analysis I_F
dtypes: object(1), uint8(105)
memory usage: 77.3+ KB

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  """Entry point for launching an IPython kernel.

In [27]:
data = df1.merge(data_final, how='left', on='HSID')

In [28]:
data.drop('HSID',1,inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707 entries, 0 to 706
Columns: 119 entries, PROGRAMNAME to COURSE_GRADE_Statistical Analysis I_F
dtypes: float64(112), int64(3), int8(3), object(1)
memory usage: 648.3+ KB

In [30]:
data.shape

(707, 119)

In [31]:
data.head()

,PROGRAMNAME,ADMITACADYEAR,STATUSTEXT,GPA,ENTRYGPA,Type_Exam,STUDENTSEX,STATUSOFTHFATHER,FATHERINCOME,YEARFATHER,...,COURSE_GRADE_STATISTICAL ANALYSIS I_F,COURSE_GRADE_STATISTICAL DATA PROCESSING_F,COURSE_GRADE_STATISTICAL INFORMATION FOR STRATEGIC MANAGEMENT_F,COURSE_GRADE_STATISTICAL INFORMATION PROJECT II_F,COURSE_GRADE_STATISTICAL MODEL_F,COURSE_GRADE_STATISTICAL QUALITY CONTROL_F,COURSE_GRADE_STATISTICAL THEORY II_F,COURSE_GRADE_STATISTICAL THEORY I_F,COURSE_GRADE_Statistical Analysis II_F,COURSE_GRADE_Statistical Analysis I_F
0,1,2558,1,1.21,3.26,1,0,0,100000.0,44.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2558,1,2.74,3.65,1,0,0,20000.0,59.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,2558,0,2.60,3.38,1,0,0,10000.0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,2558,0,2.44,3.82,1,0,0,30000.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,2558,0,2.29,3.16,1,0,0,53080.0,59.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
data_2564 =data[data['ADMITACADYEAR'] == 2564]
data =data[data['ADMITACADYEAR'] != 2564]

In [33]:
data_2564.drop('ADMITACADYEAR',1, inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [34]:
data.drop('ADMITACADYEAR',1, inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

# Feature selection

In [35]:
from scipy import stats # chi-sq test
categorical_features=['STUDENTSEX','PROGRAMNAME' ,'Type_Exam' ,'STATUSOFTHFATHER']

#loop test chi- sq test
stat_sig = []
for i in categorical_features:
    data_count = pd.crosstab(data[i] , data['STATUSTEXT'])
    obs = data_count.values
    #print(obs)
    chi2 , p , dof , expected = stats.chi2_contingency(obs)
    #print(p)
    stat_sig.append([i , round(p , 5)])

#print(stat_sig)

stat_sig = pd.DataFrame(stat_sig)
stat_sig.columns = ['Attribute' , 'P-value']
stat_sig[stat_sig['P-value'] > 0.05]

          Attribute  P-value
1       PROGRAMNAME  0.05650
2         Type_Exam  0.46326
3  STATUSOFTHFATHER  0.39503

In [36]:
data.drop(np.array(stat_sig[stat_sig['P-value'] > 0.05].Attribute) ,1 , inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [37]:
stat_sig = []
for i in df_selec_F.E.values:
    data_count = pd.crosstab(data[i] , data['STATUSTEXT'])
    obs = data_count.values
    #print(obs)
    chi2 , p , dof , expected = stats.chi2_contingency(obs)
    #print(p)
    stat_sig.append([i , round(p , 5)])

#print(stat_sig)

stat_sig = pd.DataFrame(stat_sig)
stat_sig.columns = ['Attribute' , 'P-value']
stat_sig[stat_sig['P-value'] > 0.05]

                                             Attribute  P-value
0    COURSE_GRADE_\tBUSINESS INFORMATION SYSTEMS AN...  0.45207
1                     COURSE_GRADE_\tDATA MANAGEMENT_F  0.05114
2              COURSE_GRADE_\tEXPERIMENTAL DESIGNS I_F  0.85841
3                 COURSE_GRADE_\tSAMPLING TECHNIQUES_F  0.45207
4             COURSE_GRADE_\tSTATISTICAL ANALYSIS II_F  0.29116
..                                                 ...      ...
100         COURSE_GRADE_STATISTICAL QUALITY CONTROL_F  1.00000
101               COURSE_GRADE_STATISTICAL THEORY II_F  0.45207
102                COURSE_GRADE_STATISTICAL THEORY I_F  0.37871
103             COURSE_GRADE_Statistical Analysis II_F  0.85841
104              COURSE_GRADE_Statistical Analysis I_F  0.85841

[76 rows x 2 columns]

In [38]:
data.drop(np.array(stat_sig[stat_sig['P-value'] > 0.05].Attribute) ,1 , inplace=True)

C:\Users\SIRIPAT JANKHUANG\anaconda3\envs\pycaret\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 604 entries, 0 to 603
Data columns (total 39 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   STATUSTEXT                                                               604 non-null    int64
 1   GPA                                                                      604 non-null    float64
 2   ENTRYGPA                                                                 604 non-null    float64
 3   STUDENTSEX                                                               604 non-null    int64
 4   FATHERINCOME                                                             604 non-null    float64
 5   YEARFATHER                                                               604 non-null    float64
 6   MOTHERINCOME                                                             604 non-null    float64
 7   YEARMOTHER                                                               604 non-null    float64
 8   บุตรคนที่                                                                604 non-null    float64
 9   จำนวนพี่น้อง                                                             604 non-null    object
 10  COURSE_GRADE_BASICS OF STAGE ACTING_F                                    586 non-null    float64
 11  COURSE_GRADE_BIOLOGY FOR PHYSICAL SCIENCE LABORATORY_F                   586 non-null    float64
 12  COURSE_GRADE_BIOLOGY FOR PHYSICAL SCIENCE_F                              586 non-null    float64
 13  COURSE_GRADE_CALCULUS  FOR PHYSICAL SCIENCE II_F                         586 non-null    float64
 14  COURSE_GRADE_CALCULUS FOR PHYSICAL SCIENCE I_F                           586 non-null    float64
 15  COURSE_GRADE_CALCULUS_F                                                  586 non-null    float64
 16  COURSE_GRADE_COMPUTER PROGRAMMING I_F                                    586 non-null    float64
 17  COURSE_GRADE_ELEMENTARY PHYSICS_F                                        586 non-null    float64
 18  COURSE_GRADE_ELEMENTARY TO BUSINESS AND ENTREPRENEURSHIP_F               586 non-null    float64
 19  COURSE_GRADE_ENERGY AND ENVIRONMENT_F                                    586 non-null    float64
 20  COURSE_GRADE_ENGLISH FOR ACADEMIC PURPOSE I (EAP I)_F                    586 non-null    float64
 21  COURSE_GRADE_ENGLISH FOR ACADEMIC PURPOSES I_F                           586 non-null    float64
 22  COURSE_GRADE_ENGLISH FOR COMMUNICATION_F                                 586 non-null    float64
 23  COURSE_GRADE_ENGLISH II_F                                                586 non-null    float64
 24  COURSE_GRADE_ENGLISH I_F                                                 586 non-null    float64
 25  COURSE_GRADE_FUNDAMENTAL CHEMISTRY_F                                     586 non-null    float64
 26  COURSE_GRADE_GENERAL CHEMISTRY LABORATORY_F                              586 non-null    float64
 27  COURSE_GRADE_GENERAL MATHEMATICS_F                                       586 non-null    float64
 28  COURSE_GRADE_GENERAL PHYSICS LABORATORY I_F                              586 non-null    float64
 29  COURSE_GRADE_HAPPINESS OF LIFE_F                                         586 non-null    float64
 30  COURSE_GRADE_INFORMATION LITERACY SKILLS_F                               586 non-null    float64
 31  COURSE_GRADE_INTRODUCTION TO INFORMATION AND COMMUNICATION TECHNOLOGY_F  586 non-null    float64
 32  COURSE_GRADE_LEARNING SKILLS_F                                           586 non-null    float64
 33  COURSE_GRADE_LOCAL WISDOM_F                                              586 non-null    float64
 34  COURSE_GRADE_MEDITATION FOR LIFE DEVELOPMENT_F                           586 non-null    float64
 35  COURSE_GRADE_MULTICULTURALISM_F                                          586 non-null    float64
 36  COURSE_GRADE_OPERATIONS RESEARCH_F                                       586 non-null    float64
 37  COURSE_GRADE_STATISTICAL ANALYSIS I_F                                    586 non-null    float64
 38  COURSE_GRADE_STATISTICAL MODEL_F                                         586 non-null    float64
dtypes: float64(36), int64(2), object(1)
memory usage: 188.8+ KB

In [40]:
data.to_csv(r'Data_DropOutALL.csv',encoding='utf-8-sig')

In [41]:
data.head()

,STATUSTEXT,GPA,ENTRYGPA,STUDENTSEX,FATHERINCOME,YEARFATHER,MOTHERINCOME,YEARMOTHER,บุตรคนที่,จำนวนพี่น้อง,...,COURSE_GRADE_HAPPINESS OF LIFE_F,COURSE_GRADE_INFORMATION LITERACY SKILLS_F,COURSE_GRADE_INTRODUCTION TO INFORMATION AND COMMUNICATION TECHNOLOGY_F,COURSE_GRADE_LEARNING SKILLS_F,COURSE_GRADE_LOCAL WISDOM_F,COURSE_GRADE_MEDITATION FOR LIFE DEVELOPMENT_F,COURSE_GRADE_MULTICULTURALISM_F,COURSE_GRADE_OPERATIONS RESEARCH_F,COURSE_GRADE_STATISTICAL ANALYSIS I_F,COURSE_GRADE_STATISTICAL MODEL_F
0,1,1.21,3.26,0,100000.0,44.0,100000.0,45.0,1.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,2.74,3.65,0,20000.0,59.0,15000.0,54.0,1.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,2.60,3.38,0,10000.0,43.0,9000.0,37.0,1.0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,2.44,3.82,0,30000.0,49.0,30000.0,48.0,3.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,2.29,3.16,0,53080.0,59.0,47660.0,54.0,3.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
data_2564 = data_2564[data.columns]

In [43]:
data_2564.to_csv(r'Data_2564_DropOutALL.csv',encoding='utf-8-sig')

In [45]:
data_2564.shape

(103, 39)